@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

:root {
    --primary-bg-color:  hsl(225, 100%, 94%);
    --secondary-bg-color: hsl(225, 100%, 98%);
    --main-font-color: hsl(223, 47%, 23%);
    --primary-accent-color: hsl(245, 75%, 52%);
    --secondary-accent-color: hsl(224, 23%, 55%);
}

body {
    font-family: 'Red Hat Display', sans-serif;;
    font-size: 16px;
    color: var(--secondary-accent-color);
}

.title-styled {
    color: var(--main-font-color);
}

.section-background {
    background-color: var(--primary-bg-color);
    background-image: url(../order-summary-component/order-summary-component-main/images/pattern-background-desktop.svg);
    background-repeat: no-repeat;
    background-position-y: top;
    background-size: contain;
    height: 100vh;
}

.section-display-centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    width: 30%;
    max-width: 400px;
    min-width: 300px;
    height: 80%;
    background-color: white;
    border-radius: 16px;
}

.summary-component {
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    padding: 1rem 2rem;
}

.card__img {
    width: 100%;
    border-radius: 16px 16px 0 0;
}

.summary-component__title {
    font-size: 1.5rem;
    font-weight: 900;
    
    text-align: center;
}

.summary-component__text {
    
    text-align: center;
}

.change-order-box {
    background-color:var(--secondary-bg-color);
    margin: 1rem 0;
    padding: 1rem;
    border-radius: 4px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.offer {
    display:flex;
}

.offer__icon {
    background-color: white;
    margin-right: 1rem;
    padding: 1rem;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--primary-accent-color);
    font-size: 1.5rem;
}

.change-order__link {
    font-weight: bold;
}

.button {
    margin: auto;
    margin-top: 1rem;
    display: block;
    text-align: center;
    cursor: pointer;
}

.button--proceed {
    padding: 1rem;
    width: 100%;
    border-radius: 8px;
    border: none;
    color: var(--primary-bg-color);
    background-color: var(--primary-accent-color);
    box-shadow: 0 10px 10px var(--secondary-accent-color);
    font-weight: bold;
}

.button--cancel {
    border: none;
    background-color: white;
    color: var(--secondary-accent-color);
    font-weight: 700;
}

